# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

Q2. Print all the even number between (1, 12).

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [18]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

## ANSWERS

### 1.

In [20]:
numbers = [12, 75, 150, 180, 145, 525, 50]\

l = numbers[0]
for i in numbers:
    if(i>l):
        l = i
print(f"largest number is {l}")

largest number is 525

### 2.

In [8]:
for i in range(1, 12):
    if(i%2==0):
        print(i)

2
4
6
8
10

### 3.

In [13]:
n = int(input("Enter a number"))

sum = 0;
for i in range(n+1):
    sum += i
print(f"sum of all numbers from 1 to {n} is {sum}")

Enter a number10
sum of all numbers from 1 to 10 is 55

### 4.

In [21]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if(i>500):
        break
    if(i>150):
        continue
    if(i%5==0):
        print(i)

75
150
145

### 5.

In [24]:
list1 = [10, 20, 30, 40, 50]

for i in range(len(list1)-1,-1,-1):
    print(list1[i])

50
40
30
20
10